
/* Main colors */
$fi-black: #333333;
$fi-white: #FFFFFF;
$sfi-lightgrey: #D6D6D6;
$sfi-mediumgrey: #B4B4B4;
$sfi-darkgrey: #585858;

/* Chapter colors */
$sfiChapColor1: #524696;
$sfiChapColor2: #96C11F;
$sfiChapColor3: #A81C3A;
$sfiChapColor4: #009CB2;
$sfiChapColor5: #F07D00;
$sfiChapColor6: #7C0959;
$sfiChapColor7: #009338;
$sfiChapColor8: #8967AA;
$sfiChapColor9: #F6A200;
$sfiChapColor10: #E6007E;
$sfiChapColor11: #00587D;

/* Misc colors */
$sfi-acrobatred: #D04949;